body {
    font-family: Arial;
    background-color: rgb(128, 110, 220);
    text-align: center;
}

.con {
    margin-top: 100px;
    background: ghostwhite;
    padding: 30px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
}

h1, h2 {
    color: rgb(232, 146, 17);
}

h3 {
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: rgb(14, 2, 2);
    cursor: pointer;
    color: whitesmoke;
    border-radius: 5px;
}

button:hover {
    background-color: red;
}

input {
    width: 200px;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

ul li {
    padding: 6px 10px;
    border-bottom: 1px solid white;
    color: rgb(60, 60, 60);
}